{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% block content %}
    <h2>SRPS Railtours</h2>



    <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('admin_index') }}">
            Administration
        </a>
    </div>
{% endblock content %}
