{% extends 'SRPSBookingBundle:Admin:admin.html.twig' %}

{% form_theme form 'SRPSBookingBundle:Admin:fields.html.twig' %}

{% block content %}
    <h2>Create new user</h2>

    <form id="user-new-form" class="form-horizontal" action="{{ path('admin_user_new') }}" 
          novalidate="novalidate" method="post" {{ form_enctype(form) }}>
        {{ form_rest(form) }} 
    </form>

    <button class ="btn btn-primary" onclick="$('#user-new-form').submit();">
        Create user
    </button>
    <a class="btn btn-warning" href="{{ path('admin_user_index') }}">
        Cancel
    </a>
{% endblock content %}
    