{# src/SRPS/Resources/views/Admin/admin.html.twig #}

{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen"> 
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" media="screen">  
    <link href="{{ asset('bundles/srpsbooking/css/booking.css') }}" rel="stylesheet" media="screen">    
{% endblock stylesheets %}

{% block title %}SRPS Bookings Administration{% endblock title %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                {% block sidebar %}{% endblock sidebar %}
            </div>
            <div class="col-md-9">    
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
{% endblock body%}

{% block javascripts %}
    {{ parent() }}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
   
    <script type="text/javascript">
        tinymce.init({
            selector : "textarea"
        });
    </script>  
{% endblock javascripts %}