body {
    padding: 10px;
}

div#adminmenu {
    padding-top: 25px;
}

#services_filter_form {
    width: 80%;
}

table.table-priceband {
    margin: 0 40px;
    font-size: 75%;
}

div.summary_display {
    font-family: monospace;
}

div#pagefooter {
    padding-top: 20px;
    text-align: right;
}

div#sb_info {
    text-align: center;
    margin: 15px 6px 15px 0;
}

.table > tbody > tr.svc_lower > td {
    border-top: none;
    padding-top: 0;
}

.table > tbody > tr.svc_upper > td {
    padding-bottom: 5px;
}

#adminmenu .btn {
    width: 160px;
}
