{% extends 'SRPSBookingBundle:Booking:booking.html.twig' %}

{% block content %}
    <h2>SRPS Railtours Online Booking</h2>

    <h3 class="text-error">Payment declined</h3>

    <p>
        We are sorry, but our online payment partner has declined your payment
        and your card has not been charged.
    </p>
    
    <p>
        The status message was <b>'{{ purchase.statusdetail }}'</b>
    </p>

    <p>
        An email has been sent to you for your records. Please note that we 
        have no other information about this transaction. You are advised
        to contact your card issuer directly. 
    </p>

    <div>
        <a class="btn btn-primary" href="http://www.srps.org.uk/">
            Return to the SRPS site
        </a>
    </div>

{% endblock content %}