{% extends 'SRPSBookingBundle:Booking:booking.html.twig' %}

{% block content %}
    <h2>SRPS Railtours Online Booking</h2>

    <h3 class="text-error">Important booking information - please read first</h3>

    <p class="text-warning">
        Only use this service if all members of your party are taking the same
        trip in the same class.
    </p>

    <p>
        Please do <b>not</b> use this online booking service if you have any
        special requirements. Such requirements include:
    </p>

    <ul>
        <li>limited mobility,</li>
        <li>dietary requirements,</li>
        <li>groups of more than {{ maxparty }} persons,</li>
        <li>any other special requests</li>
    </ul>

    <p>
        In these cases, or if you have any other queries, please phone our
        booking line on <strong>0131 202 1033 (7pm to 9pm)</strong>.
    </p>

    <div>
        <a class="btn btn-primary" href="{{ path('booking_numbers', {'code': code}) }}">
            Book tour '{{ service.name }}'
        </a>
        <a class="btn btn-warning" href="http://www.srps.org.uk/railtours">
            Cancel
        </a>
    </div>

{% endblock content %}