{% extends 'SRPSBookingBundle:Booking:booking.html.twig' %}

{% form_theme form 'SRPSBookingBundle:Admin:fields.html.twig' %}

{% block content %}
    <h2>SRPS Railtours Online Booking</h2>

    <h3 class="text-error">Meals...</h3>

    <p>
        Tell us what meals you would like. Please select the number of each available
        meal that you require.
    </p>

    <form id="meals-form" class="form-horizontal" action="{{ path('booking_meals') }}"
          novalidate="novalidate" method="post" {{ form_enctype(form) }}>
      {{ form_rest(form) }}
    </form>

    <div>
        <a class="btn btn-primary" onclick="$('#meals-form').submit();">
            Next step
        </a>
    </div>

{% endblock content %}