<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SRPS Railtours{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            <div id="pagefooter">
                <small>Hosting of this site is kindly donated by <a href="http://www.e-learndesign.co.uk">
                E-Learn Design Limited</a>
            </div>
            
            <!-- Piwik -->
            <script type="text/javascript"> 
              var _paq = _paq || [];
              _paq.push(['trackPageView']);
              _paq.push(['enableLinkTracking']);
              (function() {
                var u=(("https:" == document.location.protocol) ? "https" : "http") + "://railtourbooking.srps.org.uk/piwik//";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
                g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g, s);
                })();

                </script>
                <noscript><p><img src="http://railtourbooking.srps.org.uk/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
                <!-- End Piwik Code -->
                
    </body>
</html>
