<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SRPS Railtours{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
            <div id="pagefooter">
                <small>Hosting of this site is kindly donated by <a href="http://www.e-learndesign.co.uk">
                E-Learn Design Limited</a>
            </div>
    </body>
</html>
