parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    enablebooking:	true

    sagelogin:		srpsrailtours
    sageencryptionpassword: Qpu7H4zy5L5Wbwpb
    sageurl:		 https://live.sagepay.com/gateway/service/vspform-register.vsp
    srpsemail:		roger.haynes@srps.org.uk:howardsmiller@gmail.com
    srpsbackupemail:	rt-bkg-msgs@srps.org.uk

    bookingprefix:	TT
