parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     srpsbooking
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       mail-relay.gla.ac.uk
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    enablebooking:     false

    sagelogin:                 srpsrailtours
    sageencryptionpassword:    Qpu7H4zy5L5Wbwpb
    sageurl:                   https://test.sagepay.com/gateway/service/vspform-register.vsp
    srpsemail:                 howardsmiller@gmail.com
    srpsbackupemail:           rt-bkg-msgs@srps.org.uk

    bookingrefprefix:          TL
